@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Itim&display=swap');

/* ### GENERAL ### */
:root {
	--font-page: 'Poppins', sans-serif;
	--primary-color: #ffc900;
	--black: #000000;
	--little-grey: #cccccc;
	--little-white: #e2ebf0;
	--white: #ffffff;
	--orange: #ff8700;
	--dark-grey: #121212;
	--dark-charcoal: #333333;
	--dark-graphite: #262626;
	--light-grey: #8e9eab;
	--short-paragraph-color: rgba(0, 0, 0, 0.7);
}
body {
	font-family: var(--font-page);
	background-color: var(--black);
	/* background-image: url(/img/cool-background.png); */
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234f4c52' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234f4c52' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
li {
	list-style: none;
}
i {
	color: var(--primary-color);
	font-size: 6rem;
}
h2.title {
	font-size: 6.5rem;
	font-weight: 800;
	text-align: center;
}
.symbol {
	display: inline-block;
	font-family: 'Inconsolata', monospace;
	font-size: 2.4rem;
	font-weight: 500;
	text-align: left;
	color: var(--dark-graphite);
}
.symbol::before {
	content: '<';
}
.symbol::after {
	content: '>';
}
@media (min-width: 370px) {
	.decoration-image {
		max-width: 35.6rem;
		max-height: 41.6rem;
	}
}
.improving-paragraph {
	font-style: italic;
	color: var(--short-paragraph-color);
	text-align: center;
	padding-bottom: 2.5rem;
	font-weight: 600;
}
/* ###################### */

/* ### HEADER ### */
header {
	display: flex;
	justify-content: space-between;
	padding: 1.2rem;
	z-index: 999;
	width: 100%;
	position: fixed;
	background-color: var(--black);
	/* background-color: var(--dark-grey); */
	transition: 1s;
}
@media (min-width: 768px) {
	header {
		justify-content: space-evenly;
	}
}
@media (min-width: 1200px) {
	header {
		justify-content: center;
	}
	.img-logo-container {
		margin-right: 38rem;
	}
}
.img-logo-container img {
	max-height: 3.7rem;
}
.menu-button {
	cursor: pointer;
	position: absolute;
	top: 2.1rem;
	right: 1.5rem;
}
@media (min-width: 768px) {
	.menu-button {
		display: none;
	}
}
.menu-button > div {
	width: 2.5rem;
	height: 0.3rem;
	margin-bottom: 0.4rem;
	background-color: var(--primary-color);
	transition: all 0.35s linear;
}
.menu-button .menu-div.line-1.active {
	transform: translateY(0.8rem) rotate(45deg);
}
.menu-button .menu-div.line-2.active {
	opacity: 0;
}
.menu-button .menu-div.line-3.active {
	transform: translateY(-0.6rem) rotate(-45deg);
}
.ul-links-list {
	position: absolute;
	/* right: -99rem; */
	right: -100%;
	top: 6rem;
	/* right: 0;
	top: -30rem; */
	width: 100%;
	text-align: center;
	background-color: var(--black);
	/* background-color: var(--dark-grey); */
	transition: all 0.35s linear;
}
@media (min-width: 768px) {
	.ul-links-list {
		position: static;
		display: flex;
		justify-content: space-evenly;
	}
	.nav-links {
		position: relative;
	}
}
.ul-links-list.active {
	/* top: 6rem; */
	right: 0;
}
ul.ul-links-list > li {
	padding: 2rem 0;
	border-top: 0.1rem solid var(--little-grey);
}
@media (min-width: 768px) {
	ul.ul-links-list > li {
		padding: 1rem;
		border-top: none;
	}
}
ul.ul-links-list > li:nth-child(5) {
	box-shadow: 0.2rem 0.7rem 0.7rem -0.2rem var(--primary-color);
}
@media (min-width: 768px) {
	ul.ul-links-list > li:nth-child(5) {
		box-shadow: none;
	}
}
ul.ul-links-list li > a {
	color: var(--white);
	font-weight: 400;
	display: block;
	transition: all 0.5s ease;
	border-bottom: var(--white);
}
@media (min-width: 768px) {
	ul.ul-links-list li > a:hover {
		color: var(--primary-color);
		text-shadow: 0.2rem 0.2rem 1rem var(--little-grey);
		border-bottom: 0.3rem solid var(--primary-color);
	}
}
ul.ul-links-list li a.active {
	/* Para que se haga más fuerte la palabra cuando se encuentra en una sección de la pág (hacerlo en js automático) */
	font-weight: 800;
}
/* ¿Cómo podría poner un punto sin que sea mucho quilombo como con el ejemplo del portfolio? */
/* @media (min-width: 768px) {
	ul.ul-links-list li a.active::after {
		position: absolute;
		left: 39%;
		bottom: 15%;
		content: '';
		width: 0.8rem;
		height: 0.8rem;
		border-radius: 50%;
		background: var(--primary-color);
	}
} */
/* ###################### */

/* ### MAIN CONTENT ### */
.main-content {
	padding-top: 10rem;
	display: flex;
	flex-flow: column nowrap;
	position: relative; /* Para acomodar la líneas decorativas con mi nombre , tomando como referencia esta sección */
	background-color: var(--black);
	/* background-color: var(--dark-grey); */
}
@media (min-width: 768px) {
	.main-content {
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}
}
.main-content .decorative-name-line {
	display: none;
}
@media (min-width: 1200px) {
	.main-content .decorative-name-line {
		display: block;
	}
	.main-content .decorative-name-line p {
		/* position: absolute; */
		position: relative;
		text-transform: uppercase;
		top: 24%;
		font-weight: 900;
		font-size: 1.6rem;
		color: var(--white);
		writing-mode: vertical-rl;
		text-orientation: upright;
		/* text-shadow: 0.2rem 0.2rem 1rem var(--little-grey); */
	}
	.main-content .decorative-name-line.left p {
		/* left: 13%; */
		right: 950%;
	}
	.main-content .decorative-name-line.right p {
		/* right: 13%; */
		left: 950%;
	}
	.main-content .decorative-name-line p::before,
	.main-content .decorative-name-line p::after {
		position: absolute;
		content: '';
		height: 3.5rem;
		width: 0.4rem;
		background-color: var(--primary-color);
	}
	.main-content .decorative-name-line.left p::before {
		top: -13%;
		left: 41.5%;
	}
	.main-content .decorative-name-line.left p::after {
		top: 102%;
		left: 41.5%;
	}
	.main-content .decorative-name-line.right p::before {
		top: -13%;
		right: 35.5%;
	}
	.main-content .decorative-name-line.right p::after {
		top: 102%;
		right: 35.5%;
	}
}
.main-content .my-image-container {
	text-align: center;
}
@media (min-width: 768px) {
	.main-content .my-image-container {
		display: flex;
		flex-flow: column wrap;
	}
}
.main-content .my-image-container h1 {
	font-size: 6.9rem;
	letter-spacing: 1.4rem;
	-webkit-text-stroke: 0.2rem var(--little-grey);
	color: transparent;
}
.main-content .my-image-container img {
	padding: 1.5rem 0;
	height: 28rem;
	border-radius: 50%;
	/* No me convence mucho como quedó la foto , ver que se puede cambiar */
}
.main-content .my-info-container {
	display: flex;
	justify-content: left;
	flex-flow: column wrap;
	text-transform: uppercase;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.main-content .my-info-container {
		margin: 0;
	}
}
.main-content .my-info-container p {
	padding-left: 2rem;
	font-size: 3.5rem;
	color: var(--primary-color);
	position: relative;
}
.main-content .my-info-container p::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 11.3rem;
	width: 4.8rem;
	height: 0.2rem;
	background-color: var(--primary-color);
}
.main-content .my-info-container h2 {
	padding-left: 2rem;
	font-size: 5rem;
	color: var(--white);
	/* text-shadow: 0.2rem 0.2rem 1rem var(--little-grey); */
}
.main-content .social-media-icons {
	text-align: left;
	padding: 1rem;
}
@media (min-width: 430px) {
	.main-content .social-media-icons {
		text-align: center;
	}
}
@media (min-width: 768px) {
	.main-content .social-media-icons {
		text-align: left;
	}
}
.main-content .social-media-icons a i {
	padding-left: 0.8rem;
	animation: beat 1.5s alternate infinite ease-in;
}
@keyframes beat {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
@media (min-width: 768px) {
	.main-content .social-media-icons a i:hover {
		color: var(--white);
		text-shadow: 0 0.2rem 1.5rem var(--primary-color);
	}
}
/* ###################### */

/* ### SCROLL DOWN SECTION ### */
.scroll-down-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10rem;
	border-bottom: 0.7rem solid var(--little-grey);
	background-color: var(--black);
	/* background-color: var(--dark-grey); */
}
.scroll-down-container .bxs-down-arrow-alt,
.scroll-down-container p {
	animation: scroll-down 0.6s alternate infinite ease-in;
}
.scroll-down-container p {
	font-size: 1.6rem;
	color: var(--little-grey);
}
@keyframes scroll-down {
	0% {
		transform: translateY(-8rem);
	}
	100% {
		transform: translateY(0);
	}
}
/* ###################### */

/* ### ABOUT ME ### */
.about-me {
	background-color: var(--white);
	border-bottom: 0.7rem solid var(--little-grey);
	padding: 2rem;
	/* background-image: linear-gradient(to right, #868f96 0%, #596164 100%); */
	/* background-color: var(--little-grey); */
	/* background-image: url(/img/cool-background.png); */
	/* background-color: var(--little-white); */
	/* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
	/* background-size: cover; */
	/* background-image: url(/img/cool-background-grey.png); */
}
.about-me h2 {
	color: var(--black);
	padding: 4rem 0 3rem 0;
}
.about-me h2 span {
	-webkit-text-stroke: 0.275rem var(--black);
	color: var(--primary-color);
}
/* --- DESCRIPTION --- */
.flex-containers-about-me {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
@media (min-width: 768px) {
	.flex-containers-about-me {
		flex-direction: row;
	}
}
@media (min-width: 1700px) {
	.flex-containers-about-me {
		flex-direction: column;
	}
}
.about-me-img {
	padding: 0 1rem 3rem 0;
}
.about-me-information-container {
	padding-top: 2rem;
}
@media (min-width: 768px) {
	.about-me-information-container {
		display: flex;
		flex-direction: column;
		max-width: 55%;
	}
}
@media (min-width: 1700px) {
	.about-me-information-container {
		max-width: 108rem;
	}
}
.description-container {
	margin: 3rem 0;
	padding: 1.8rem 0;
	background-color: var(--dark-charcoal);
	/* border: 0.2rem solid var(--dark-graphite); */
	box-shadow: 0 0.4rem 1rem var(--dark-graphite);
}
.description-container p {
	padding: 1rem 2rem 2rem 2rem;
	letter-spacing: 0.2rem;
	line-height: 3rem;
	font-size: 1.8rem;
	color: var(--white);
}
.description-container p::first-letter {
	font-size: 2rem;
	font-weight: 500;
	color: var(--primary-color);
}
.curriculum-section {
	padding: 1rem 0 3rem 0;
	display: flex;
	justify-content: center;
}
a.curriculum-vitae-button {
	text-align: center;
	padding: 1.5rem;
	background-color: var(--dark-charcoal);
	border: 0.2rem solid var(--dark-graphite);
	color: var(--primary-color);
	box-shadow: 0 0.4rem 1rem var(--dark-graphite);
	transition: all 0.5s ease;
	letter-spacing: 0.2rem;
}
@media (min-width: 768px) {
	a.curriculum-vitae-button:hover {
		background-color: var(--black);
		color: var(--primary-color);
		border: 0.2rem solid var(--dark-charcoal);
		animation: beat 0.4s alternate infinite ease-in;
	}
}
a.curriculum-vitae-button p {
	text-transform: uppercase;
	font-weight: 800;
	line-height: 2.5rem;
}
/* ------------- */
/* --- LANGUAGES --- */
.my-languages-container {
	padding: 4.5rem 0 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: left;
}
@media (min-width: 768px) {
	.my-languages-container {
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
	}
	.languages-section {
		width: 50%;
		max-width: 72rem;
	}
}
.my-languages-container .books-image {
	padding: 0 2rem 3rem 2rem;
	align-self: center;
}
.my-languages-container .languages {
	padding: 3.5rem 0 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.my-languages-container .languages .flex-language {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	width: 10.5rem;
}
.my-languages-container .languages p {
	font-weight: 600;
	padding-top: 1.5rem;
}
.my-languages-container .languages img {
	width: 2rem;
	height: 2rem;
}
.my-languages-container .progress-bar-container {
	margin: 0.5rem 0;
	background-color: var(--dark-charcoal);
	width: 70%;
	height: 2rem;
	border-radius: 0.5rem;
	padding: 0.3rem;
	max-width: 37.759rem;
}
.my-languages-container .progress-bar-container span.progress-bar-color {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
	background-color: var(--primary-color);
}
.my-languages-container .progress-bar-container span.progress-bar-color.english {
	width: 80%;
}
/* .my-languages-container .improving-paragraph {
	padding-bottom: 2.5rem;
} */
/* ------------- */
/* --- SOFT SKILLS --- */
.soft-skills-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (min-width: 768px) {
	.soft-skills-container {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
.soft-skills-container .soft-skills-image {
	padding: 2rem 1rem;
}
@media (min-width: 768px) {
	.soft-skills-container .soft-skills-section {
		max-width: 50.6rem;
		padding-left: 5rem;
	}
}
.soft-skills-container .soft-skills-section .soft-skills {
	margin: 2.5rem auto;
}
.soft-skills .skill .skill-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: var(--font-page);
	font-weight: 600;
	width: 100%;
	padding: 2rem;
	cursor: pointer;
	border: 0.1rem solid var(--dark-graphite);
	background-color: var(--black);
	color: var(--primary-color);
}
.soft-skills .skill .skill-header i {
	font-size: 2.5rem;
	transition: all 1s;
}
.soft-skills .skill .skill-header i.active {
	color: var(--dark-charcoal);
}
.soft-skills .skill .skill-description {
	max-height: 0;
	/* height: 0; */
	overflow: hidden;
	text-align: left;
	background-color: var(--dark-charcoal);
	color: var(--white);
	transition: all 1s;
}
.soft-skills .skill .skill-description p {
	padding: 2rem;
	line-height: 3rem;
}
.soft-skills .skill .skill-description.active {
	/* height: auto; */
	max-height: 46rem;
	border: 0.1rem solid var(--dark-graphite);
	/* Ver como hacer una buena transición */
}
.list-under-contruction-container {
	display: flex;
	justify-content: center;
	align-items: space-between;
}
.list-under-contruction-container i {
	font-size: 1.7rem;
	padding-left: 1rem;
	color: var(--short-paragraph-color);
}
/* ------------- */
/* ###################### */

/* ### KNOWLEDGES ### */
.my-knowledges {
	padding: 2rem;
	background-color: var(--dark-grey);
}
.my-knowledges h2 {
	font-size: 3.8rem;
	color: var(--white);
	padding: 4rem 0 5rem 0;
	-webkit-text-stroke: 0.275rem var(--black);
}
@media (min-width: 468px) {
	.my-knowledges h2 {
		font-size: 6.5rem;
	}
}
.my-knowledges h2 span {
	color: var(--primary-color);
}
.my-knowledges .flex-knowdlege-container {
	display: flex;
	flex-direction: column;
}
@media (min-width: 768px) {
	.my-knowledges .flex-knowdlege-container {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
.my-knowledges .grid-technologies-section {
	position: relative;
	background-color: var(--dark-charcoal);
	padding: 3rem;
	border-radius: 10rem;
}
@media (min-width: 768px) {
	.my-knowledges .grid-technologies-section {
		margin-right: 20rem;
	}
}
.my-knowledges .grid-technologies-section::after {
	content: '';
	position: absolute;
	bottom: -1.5%;
	left: 49%;
	background-color: var(--dark-charcoal);
	width: 1rem;
	height: 4rem;
}
@media (min-width: 468px) {
	.my-knowledges .grid-technologies-section::after {
		bottom: -3%;
	}
}
@media (min-width: 768px) {
	.my-knowledges .grid-technologies-section::after {
		top: 50%;
		right: 56%;
		background-color: var(--dark-charcoal);
		width: 38rem;
		height: 1rem;
	}
}
@media (min-width: 1200px) {
	.my-knowledges .grid-technologies-section::after {
		width: 42.7rem;
	}
}
.my-knowledges .grid-technologies-section .grid-technologies-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 6rem 0;
	justify-items: center;
	align-items: center;
	text-align: center;
}
@media (min-width: 468px) {
	.my-knowledges .grid-technologies-section .grid-technologies-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 1200px) {
	.my-knowledges .grid-technologies-section .grid-technologies-container {
		gap: 6rem 10rem;
	}
}
.my-knowledges .grid-technologies-container .grid-technology {
	z-index: 800;
	background-color: var(--dark-charcoal);
	padding: 1rem;
}
.my-knowledges .grid-technologies-container .grid-technology i {
	font-size: 12rem;
	/* background-color: var(--dark-grey); */
}
.my-knowledges .grid-technologies-container .grid-technology p {
	color: white;
	font-size: 2rem;
	font-weight: 600;
}
.my-knowledges .flex-knowdlege-container .brain-loading-container {
	margin-top: 2.5rem;
	width: 18rem;
	align-self: center;
}
@media (min-width: 768px) {
	.my-knowledges .flex-knowdlege-container .brain-loading-container {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 5rem;
	}
}
.flex-knowdlege-container .brain-loading-container .loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-knowdlege-container .brain-loading-container .loading-container p {
	font-style: italic;
	font-weight: 600;
	color: var(--white);
	letter-spacing: 0.3rem;
}
.flex-knowdlege-container .brain-loading-container .loading-container i {
	font-size: 3.5rem;
	margin-left: 1rem;
	color: var(--white);
}
/* ###################### */

/* ###################### */
/* PORTFOLIO:
1- Mejorar la mezcla de colores
2- Mejorar la transición de las Soft Skills
3- Cambiar algunos parrafos por h3 o h4 */
/* ###################### */
