@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ### Generales ### */
:root {
	--font-page: 'Poppins', sans-serif;
	--primary-color: #ffc900;
	--black: #000;
	--little-grey: #ccc;
	--white: #fff;
	--tertiary-color: #ff8700;
}
body {
	font-family: var(--font-page);
	background-color: var(--black);
	/* background-image: url(/img/cool-background.png); */
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234f4c52' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234f4c52' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
li {
	list-style: none;
}
i {
	color: var(--primary-color);
	font-size: 6rem;
}
h2.title {
	font-size: 6.5rem;
	font-weight: 800;
	text-align: center;
}
/* ###################### */

/* ### Header ### */
header {
	display: flex;
	justify-content: space-between;
	padding: 1.2rem;
	z-index: 999;
	width: 100%;
	position: fixed;
	background-color: var(--black);
	transition: 1s;
}
@media (min-width: 768px) {
	header {
		justify-content: space-evenly;
	}
}
@media (min-width: 1200px) {
	header {
		justify-content: center;
	}
	.img-logo-container {
		padding-right: 38rem;
	}
}
.img-logo-container img {
	max-height: 3.7rem;
}
.menu-button {
	cursor: pointer;
	position: absolute;
	top: 2.1rem;
	right: 1.5rem;
}
@media (min-width: 768px) {
	.menu-button {
		display: none;
	}
}
.menu-button > div {
	width: 2.5rem;
	height: 0.3rem;
	margin-bottom: 0.4rem;
	background-color: var(--primary-color);
	transition: all 0.35s linear;
}
.menu-button .menu-div.line-1.active {
	transform: translateY(0.8rem) rotate(45deg);
}
.menu-button .menu-div.line-2.active {
	opacity: 0;
}
.menu-button .menu-div.line-3.active {
	transform: translateY(-0.6rem) rotate(-45deg);
}
.ul-links-list {
	position: absolute;
	/* right: -99rem; */
	right: -100%;
	top: 6rem;
	/* right: 0;
	top: -30rem; */
	width: 100%;
	text-align: center;
	background-color: var(--black);
	transition: all 0.35s linear;
}
@media (min-width: 768px) {
	.ul-links-list {
		position: static;
		display: flex;
		justify-content: space-evenly;
	}
	.nav-links {
		position: relative;
	}
}
.ul-links-list.active {
	/* top: 6rem; */
	right: 0;
}
ul.ul-links-list > li {
	padding: 2rem 0;
	border-top: 0.1rem solid var(--little-grey);
}
@media (min-width: 768px) {
	ul.ul-links-list > li {
		padding: 1rem;
		border-top: none;
	}
}
ul.ul-links-list > li:nth-child(5) {
	box-shadow: 0.2rem 0.7rem 0.7rem -0.2rem var(--primary-color);
}
@media (min-width: 768px) {
	ul.ul-links-list > li:nth-child(5) {
		box-shadow: none;
	}
}
ul.ul-links-list li > a {
	color: var(--white);
	font-weight: 400;
	display: block;
	transition: all 0.5s ease;
	border-bottom: var(--white);
}
@media (min-width: 768px) {
	ul.ul-links-list li > a:hover {
		color: var(--primary-color);
		text-shadow: 0.2rem 0.2rem 1rem var(--little-grey);
		border-bottom: 3px solid var(--primary-color);
	}
}
ul.ul-links-list li a.active {
	/* Para que se haga más fuerte la palabra cuando se encuentra en una sección de la pág (hacerlo en js automático) */
	font-weight: 800;
}
/* ¿Cómo podría poner un punto sin que sea mucho quilombo como con el ejemplo del portfolio? */
/* @media (min-width: 768px) {
	ul.ul-links-list li a.active::after {
		position: absolute;
		left: 39%;
		bottom: 15%;
		content: '';
		width: 0.8rem;
		height: 0.8rem;
		border-radius: 50%;
		background: var(--primary-color);
	}
} */
/* ###################### */

/* ### Main Content ### */
.main-content {
	padding-top: 10rem;
	display: flex;
	flex-flow: column nowrap;
	position: relative; /* Para acomodar la líneas decorativas con mi nombre , tomando como referencia esta sección */
	background-color: var(--black);
}
@media (min-width: 768px) {
	.main-content {
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}
}
.main-content .decorative-name-line {
	display: none;
	/* Ver si hay alguna manera de mantenerlo fijo */
}
@media (min-width: 1200px) {
	.main-content .decorative-name-line {
		display: block;
	}
	.main-content .decorative-name-line p {
		/* position: absolute; */
		position: relative;
		text-transform: uppercase;
		top: 24%;
		font-weight: 900;
		font-size: 1.6rem;
		color: var(--white);
		writing-mode: vertical-rl;
		text-orientation: upright;
		text-shadow: 0.2rem 0.2rem 1rem var(--little-grey);
	}
	.main-content .decorative-name-line.left p {
		/* left: 13%; */
		right: 950%;
	}
	.main-content .decorative-name-line.right p {
		/* right: 13%; */
		left: 950%;
	}
	.main-content .decorative-name-line p::before,
	.main-content .decorative-name-line p::after {
		position: absolute;
		content: '';
		height: 3.5rem;
		width: 0.4rem;
		background-color: var(--tertiary-color);
	}
	.main-content .decorative-name-line.left p::before {
		top: -13%;
		left: 41.5%;
	}
	.main-content .decorative-name-line.left p::after {
		top: 102%;
		left: 41.5%;
	}
	.main-content .decorative-name-line.right p::before {
		top: -13%;
		right: 35.5%;
	}
	.main-content .decorative-name-line.right p::after {
		top: 102%;
		right: 35.5%;
	}
}
.main-content .my-image-container {
	text-align: center;
}
@media (min-width: 768px) {
	.main-content .my-image-container {
		display: flex;
		flex-flow: column wrap;
	}
}
.main-content .my-image-container h1 {
	font-size: 6.9rem;
	letter-spacing: 1.4rem;
	-webkit-text-stroke: 0.2rem var(--little-grey);
	color: transparent;
}
.main-content .my-image-container img {
	padding: 1.5rem 0;
	height: 28rem;
	border-radius: 50%;
	/* No me convence mucho como quedó la foto , ver que se puede cambiar */
}
.main-content .my-info-container {
	display: flex;
	justify-content: left;
	flex-flow: column wrap;
	text-transform: uppercase;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.main-content .my-info-container {
		margin: 0;
	}
}
.main-content .my-info-container p {
	padding-left: 2rem;
	font-size: 3.5rem;
	color: var(--primary-color);
	position: relative;
}
.main-content .my-info-container p::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 11.3rem;
	width: 4.8rem;
	height: 0.2rem;
	background-color: var(--primary-color);
}
.main-content .my-info-container h2 {
	padding-left: 2rem;
	font-size: 5rem;
	color: var(--white);
	text-shadow: 0.2rem 0.2rem 1rem var(--little-grey);
}
.main-content .social-media-icons {
	text-align: left;
	padding: 1rem;
}
@media (min-width: 430px) {
	.main-content .social-media-icons {
		text-align: center;
	}
}
@media (min-width: 768px) {
	.main-content .social-media-icons {
		text-align: left;
	}
}
.main-content .social-media-icons a i {
	padding-left: 0.8rem;
	animation: beat 1.5s alternate infinite ease-in;
}
@keyframes beat {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
@media (min-width: 768px) {
	.main-content .social-media-icons a i:hover {
		color: var(--little-grey);
		text-shadow: 0 0.2rem 1.5rem var(--primary-color);
	}
}
/* ###################### */

/* ### Scroll Down Section ### */
.scroll-down-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10rem;
	border-bottom: 7px solid var(--little-grey);
	background-color: var(--black);
}
.scroll-down-container .bxs-down-arrow-alt,
.scroll-down-container p {
	animation: scroll-down 0.6s alternate infinite ease-in;
}
.scroll-down-container p {
	font-size: 1.6rem;
	color: var(--little-grey);
}
@keyframes scroll-down {
	0% {
		transform: translateY(-8rem);
	}
	100% {
		transform: translateY(0);
	}
}
/* ###################### */

/* ### About Me ### */
.about-me {
	background-color: var(--white);
}
.about-me h2 {
	color: var(--black);
	padding: 6rem 0 4rem 0;
}
.about-me h2 span {
	-webkit-text-stroke: 0.275rem var(--black);
	color: var(--primary-color);
}
/* ###################### */
